{% extends 'base.html.twig' %}

{% block title %}address book - Home{% endblock %}
{% block inlineSyle %}
    <style>
        body,html{
            height: 100% !important;
        }
    </style>

{% endblock %}
{% block body %}



    <div class="pt-5">
        <h1 class="cover-heading">Add Your Address Book.</h1>
        <p class="lead">This is a sample Address Book app using samfony 3.4.49 and Sqllite</p>
        <p class="lead">
            <a href="{{ path('address.list') }}" class="btn btn-lg btn-primary">Lets Start</a>
        </p>
    </div>







{% endblock %}
