{% extends 'base.html.twig' %}

{% block title %}Hello AddressController!{% endblock %}

{% block body %}



    <div class="p-4">
        <div class="card p-1">
            <div class="card-header text-center">
                Lets add new address :)
            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">
                <div class="form-content">
                    {{ form(form) }}
                </div>
                </p>

            </div>

        </div>
    </div>








{% endblock %}



